.main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 80px;
}

.titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 600;
}

.title {
    font-size: 18px;
    color: #fbdfb7;
}

.price {
    font-size: 20px;
    display: flex;
    gap: 15px;
}

.amountValue {
    font-weight: normal;
}

.priceValue {
    color: #4fbfc3;
    width: 80px;
}

.description {
    font-size: 15px;
}

